<div class="container">
  <p></p>
  <div class=" row row-cols-21 row-cols-md-2 g-4">
    <div class="col">
      <div class="card bg-dark text-white">
        <img
          src="https://images.pexels.com/photos/942320/pexels-photo-942320.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="card-img-top" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Supermarket</h5>
          <p class="card-text">Verduras</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-dark text-white">
        <img
          src="https://images.pexels.com/photos/5910699/pexels-photo-5910699.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="card-img-top" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Supermarket</h5>
          <p class="card-text">Frutas</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-dark text-white">
        <img
          src="https://images.pexels.com/photos/5910691/pexels-photo-5910691.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="card-img-top" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Supermarket</h5>
          <p class="card-text">Despensa</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-dark text-white">
        <img
          src="https://images.pexels.com/photos/1831825/pexels-photo-1831825.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="card-img-top" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Supermarket</h5>
          <p class="card-text">Productos</p>
        </div>
      </div>
    </div>
  </div>

  <br>
  <hr>
  <br>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img
          src="https://images.pexels.com/photos/428301/pexels-photo-428301.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">VERDURAS</h5>
          <hr>
          <p></p>
          <p class="card-text"></p>
          <div class="d-grid gap-2">
            <button class="btn btn-outline-primary" type="button">Agregar <img
                src='https://cdn-icons-png.flaticon.com/128/5381/5381441.png' width="20" height="20"
                style="color: white; font-size: 100px;" class="d-inline-block align-bottom" classalt=""></button>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img
          src="https://images.pexels.com/photos/1414650/pexels-photo-1414650.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">VEGETALES</h5>
          <hr>
          <p></p>
          <p class="card-text"></p>
          <div class="d-grid gap-2">
            <button class="btn btn-outline-primary" type="button">Agregar <img
                src='https://cdn-icons-png.flaticon.com/128/5381/5381441.png' width="20" height="20"
                style="color: white; font-size: 100px;" class="d-inline-block align-bottom" classalt=""></button>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img
          src="https://images.pexels.com/photos/952480/pexels-photo-952480.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">FRUTAS</h5>
          <hr>
          <p></p>
          <p class="card-text"></p>
          <div class="d-grid gap-2">
            <button class="btn btn-outline-primary" type="button">Agregar <img
                src='https://cdn-icons-png.flaticon.com/128/5381/5381441.png' width="20" height="20"
                style="color: white; font-size: 100px;" class="d-inline-block align-bottom" classalt=""></button>
          </div>
        </div>
      </div>
    </div>
