<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
      <img src="https://cdn-icons-png.flaticon.com/512/7692/7692587.png"
          alt="" width="30" height="30" style = "margin: 10px;"class="d-inline-block align-top" alt="">
    <a class="navbar-brand" href="#" [routerLink]="['**']" >SUPERMARKET</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/usuarios']" routerLinkActive="active">Usuarios</a>
              </li>
              <ul class="navbar-nav ms-md-auto">
              </ul>
          </ul>
          <ul class="navbar-nav ms-md-auto">
              <li class="nav-item">
                  <a target="" rel="" class="nav-link" [routerLink]="['/iniciar sesion']" routerLinkActive="active">  <img src="https://cdn3.iconfinder.com/data/icons/bubble-set-sign-control/48/Sign_In-512.png"
                      alt="" width="20" height="20" style = "margin: 1px;"class="d-inline-block align-text-top" alt=""> Iniciar Sesion</a>
              </li>
              <a target="" rel="" class="nav-link" [routerLink]="['/registro']" routerLinkActive="active"> <img src="https://cdn2.iconfinder.com/data/icons/bubble-set-general/48/Lock-512.png"
                  alt="" width="20" height="20" style = "margin: 1px;"class="d-inline-block align-text-top" alt="">Registro</a>
          </ul>
      </div>
  </div>
</nav>
