<app-navbar></app-navbar>
<div class="container">
<div class="row">
  <div class="col s12 m6 l4" *ngFor="let usuario of usuarios">
    <div class="card">
      <div class="card-image">
        <img [src]="usuario.avatar ? usuario.avatar : 'https://www.biography.com/.image/t_share/MTE4MDAzNDEwNzQ4NDA5MzU4/ricky-martin-9542230-1-402.jpg'">
      </div>
      <div class="card-content">
        <p>{{usuario.first_name}} {{usuario.last_name}}</p>
      </div>
      <div class="card-action center-align">
        <button class="btn red lighten-1 waves-effect waves-light" (click)="eliminarUsuario(usuario.id)">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<div class="fixed-action-btn toolbar">
  <a class="btn-floating btn-large green darken-2">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul class="row white">
    <li class="green waves-effect waves-light"><a (click)="registarUsuario()"><i class="material-icons">send</i></a></li>
  </ul>
</div>
