<app-navbar></app-navbar>
<div class="container">
  <app-header titulo="Usuarios"></app-header>
  <p></p>
  <div class="row">
    <div class="col s12 m6 l4" *ngFor="let usuario of usuarios">
  <div class="card">
    <div class="card-image">
      <img [src]="usuario.avatar ? usuario.avatar : 'https://www.biography.com/.image/t_share/MTE4MDAzNDEwNzQ4NDA5MzU4/ricky-martin-9542230-1-402.jpg'">
    </div>
    <div class="card-content">
      <p>{{usuario.first_name}} {{usuario.last_name}}</p>
      <p>{{usuario.email}}</p>
    </div>
    <th class="button">
      <button (click)="agregarUsuario(usuario.data)" style="margin: 2px" type="button" class="btn btn-outline-danger">Agregar</button>
      <button (click)="editarUsuario(usuario.data)"style="margin: 2px" type="button" class="btn btn-outline-info">Editar</button>
      <button (click)="eliminarUsuario(usuario.data)" style="margin: 2px" type="button"class="btn btn-outline-warning">Eliminar</button>
    </th>
    </div>
  </div>

